li {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.title1 {
  font-size: 2rem;
  color: #868e96;
  font-weight: 400;
}

.title2 {
  font-size: 2rem;
  color: #E57D22;
}

.title-big {
  font-size: 5rem;
  font-weight: bold;
}

.text-back {
  display: inline;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #94D82D;
}

.number {
  color: #E57D22;
  font-size: 8rem;
  font-weight: 700;
}

.app-title {
  font-size: 3rem;
}

.main-button {
  color: white !important;
  padding: 1rem 3rem;
  background-color: #E57D22;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.main-button:hover {
  background-color: #ce711f;
}
.main-button:active {
  border: 0.7rem solid #E57D22;
}

.secondary-button {
  display: inline-block;
  color: #E57D22;
  font-size: 2rem;
  transition: 0.6s;
  border-bottom: 0.1rem solid #E57D22;
}
.secondary-button:hover {
  border-bottom: none;
  color: #cf711f;
}

.makeToCenter {
  text-align: center;
}

.learn-more {
  color: #777;
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.learn-more:active {
  border: 0.7rem solid #E57D22;
}

li {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.title1 {
  font-size: 2rem;
  color: #868e96;
  font-weight: 400;
}

.title2 {
  font-size: 2rem;
  color: #E57D22;
}

.title-big {
  font-size: 5rem;
  font-weight: bold;
}

.text-back {
  display: inline;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #94D82D;
}

.number {
  color: #E57D22;
  font-size: 8rem;
  font-weight: 700;
}

.app-title {
  font-size: 3rem;
}

.main-button {
  color: white !important;
  padding: 1rem 3rem;
  background-color: #E57D22;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.main-button:hover {
  background-color: #ce711f;
}
.main-button:active {
  border: 0.7rem solid #E57D22;
}

.secondary-button {
  display: inline-block;
  color: #E57D22;
  font-size: 2rem;
  transition: 0.6s;
  border-bottom: 0.1rem solid #E57D22;
}
.secondary-button:hover {
  border-bottom: none;
  color: #cf711f;
}

.makeToCenter {
  text-align: center;
}

.learn-more {
  color: #777;
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.learn-more:active {
  border: 0.7rem solid #E57D22;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
.nav__logo img {
  width: 17rem;
}
.nav__links a {
  font-size: 1.8rem;
  color: #333333;
  font-weight: bold;
  margin-right: 3rem;
  transition: 0.6s;
}
.nav__links a:hover {
  color: #E57D22;
}
.nav__links a:active {
  border: 0.7rem solid #E57D22;
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  padding-bottom: 3rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem;
  justify-items: center;
  align-items: center;
}
.header__left {
  grid-column: 1/2;
}
.header__left h3 {
  margin-bottom: 7rem;
}
.header__right {
  display: flex;
  justify-content: flex-end;
}
.header__feedback {
  padding-top: 10rem;
  display: flex;
}
.header__feedback_people img {
  border-radius: 100%;
  border: 0.5rem solid white;
  width: 15%;
}
.header__feedback_info span {
  color: #E57D22;
}
.header__feedback_info h3 {
  font-weight: bold;
  margin: 0;
}
.header .img-hero {
  width: 90%;
}

li {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.title1 {
  font-size: 2rem;
  color: #868e96;
  font-weight: 400;
}

.title2 {
  font-size: 2rem;
  color: #E57D22;
}

.title-big {
  font-size: 5rem;
  font-weight: bold;
}

.text-back {
  display: inline;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #94D82D;
}

.number {
  color: #E57D22;
  font-size: 8rem;
  font-weight: 700;
}

.app-title {
  font-size: 3rem;
}

.main-button {
  color: white !important;
  padding: 1rem 3rem;
  background-color: #E57D22;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.main-button:hover {
  background-color: #ce711f;
}
.main-button:active {
  border: 0.7rem solid #E57D22;
}

.secondary-button {
  display: inline-block;
  color: #E57D22;
  font-size: 2rem;
  transition: 0.6s;
  border-bottom: 0.1rem solid #E57D22;
}
.secondary-button:hover {
  border-bottom: none;
  color: #cf711f;
}

.makeToCenter {
  text-align: center;
}

.learn-more {
  color: #777;
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.learn-more:active {
  border: 0.7rem solid #E57D22;
}

.app-header {
  text-align: center;
}

.application {
  padding: 10rem;
}
.application__logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 2rem 5rem 0;
  justify-items: center;
  align-items: center;
  column-gap: 6rem;
}
.application__logo img {
  width: 100%;
}
.application__info {
  padding-top: 12rem;
}
.application__feature {
  padding: 10rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.application__feature p {
  padding-top: 3rem;
}
.application__feature_right {
  display: flex;
  justify-content: center;
}
.application__feature_right img {
  width: 50%;
}

li {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.title1 {
  font-size: 2rem;
  color: #868e96;
  font-weight: 400;
}

.title2 {
  font-size: 2rem;
  color: #E57D22;
}

.title-big {
  font-size: 5rem;
  font-weight: bold;
}

.text-back {
  display: inline;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #94D82D;
}

.number {
  color: #E57D22;
  font-size: 8rem;
  font-weight: 700;
}

.app-title {
  font-size: 3rem;
}

.main-button {
  color: white !important;
  padding: 1rem 3rem;
  background-color: #E57D22;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.main-button:hover {
  background-color: #ce711f;
}
.main-button:active {
  border: 0.7rem solid #E57D22;
}

.secondary-button {
  display: inline-block;
  color: #E57D22;
  font-size: 2rem;
  transition: 0.6s;
  border-bottom: 0.1rem solid #E57D22;
}
.secondary-button:hover {
  border-bottom: none;
  color: #cf711f;
}

.makeToCenter {
  text-align: center;
}

.learn-more {
  color: #777;
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.learn-more:active {
  border: 0.7rem solid #E57D22;
}

.meals {
  padding: 10rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}
.meals svg {
  color: #E57D22;
  width: 3rem;
  margin-right: 1rem;
}
.meals__header {
  text-align: center;
}
.meals__card {
  text-align: start;
  border: 0.1rem solid #e6e1e1;
  border-radius: 1rem;
  transition: 0.6s;
  cursor: pointer;
}
.meals__card:hover {
  transform: translateY(-2rem);
  box-shadow: 0.2rem 0.2rem 1.5rem #b3b2b2;
}
.meals__card img {
  width: 100%;
  border-start-end-radius: 1rem;
  border-start-start-radius: 1rem;
}
.meals__card h3 {
  margin: 1rem 0 3rem 0;
}
.meals__card_down {
  padding: 5rem;
}

li {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.title1 {
  font-size: 2rem;
  color: #868e96;
  font-weight: 400;
}

.title2 {
  font-size: 2rem;
  color: #E57D22;
}

.title-big {
  font-size: 5rem;
  font-weight: bold;
}

.text-back {
  display: inline;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #94D82D;
}

.number {
  color: #E57D22;
  font-size: 8rem;
  font-weight: 700;
}

.app-title {
  font-size: 3rem;
}

.main-button {
  color: white !important;
  padding: 1rem 3rem;
  background-color: #E57D22;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.main-button:hover {
  background-color: #ce711f;
}
.main-button:active {
  border: 0.7rem solid #E57D22;
}

.secondary-button {
  display: inline-block;
  color: #E57D22;
  font-size: 2rem;
  transition: 0.6s;
  border-bottom: 0.1rem solid #E57D22;
}
.secondary-button:hover {
  border-bottom: none;
  color: #cf711f;
}

.makeToCenter {
  text-align: center;
}

.learn-more {
  color: #777;
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 0.8rem;
  transition: 0.6s;
  font-size: 2rem;
}
.learn-more:active {
  border: 0.7rem solid #E57D22;
}

.TESTIMONIALS {
  padding: 20rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7rem;
}
.TESTIMONIALS__left_down {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
}
.TESTIMONIALS__left_down .first {
  display: flex;
  flex-direction: column;
}
.TESTIMONIALS__left_down .first .title1 {
  padding: 2rem 0;
  line-height: 3rem;
  color: #868e96;
}
.TESTIMONIALS__left_down .first .title {
  font-size: 1.6rem;
}
.TESTIMONIALS__left_down img {
  width: 7rem;
  border-radius: 100%;
}
.TESTIMONIALS__right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
}
.TESTIMONIALS__right img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #FDF2E9;
  color: #343a40;
}/*# sourceMappingURL=style.css.map */