@import "_variables.sass"

.links
    
    padding: 10rem 4rem
    display: grid
    grid-template-columns: repeat(auto-fit,minmax(13rem,1fr))
    justify-content: center
    gap: 3rem
    &__first
        display: flex
        flex-direction: column
        justify-content: space-between
    
    img
        width: 15rem
    .title
        margin-top: 2rem
    a
       
        color: #333333