@import "_variables.sass"

.PRICING
    .t
        text-align: center
    &__card
        padding: 12rem 0  7rem
        display: grid

        grid-template-columns: repeat(auto-fit,minmax(35rem,1fr))
        row-gap: 5rem
        justify-content: center
        justify-items: center
        .title2
            text-align: center
            padding: 3rem 0
        .title-big
            text-align: center
        .title
            padding-top: 3rem
        a
            display: inline-block
            margin: 3rem 0  0 3rem
        svg
            color: $secondary-color
            width: 3rem
            margin-right: 1rem
    &__footer
        padding-top: 10rem
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr))
        row-gap: 5rem
        grid-column-gap: 5rem
        i
            color: $secondary-color
            font-size: 4rem
            margin-bottom: 2rem
        .title1
            line-height: 3rem
            margin-top: 1rem
        