@import "_variables.sass"

.PRICING
    padding:  0 10rem
    .t
        text-align: center
    &__card
        padding: 12rem 20rem 7rem
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr))
        justify-items: center
        .title2
            text-align: center
            padding: 3rem 0
        .title-big
            text-align: center
        .title
            padding-top: 3rem
        a
            display: inline-block
            margin: 3rem 0  0 3rem
        svg
            color: $secondary-color
            width: 3rem
            margin-right: 1rem