@import "_variables.sass"

.TESTIMONIALS
    padding: 20rem 0
    display: grid
    grid-template-columns: repeat(auto-fit,minmax(50rem ,1fr))
    grid-gap: 5rem
    grid-column-gap: 7rem
    &__left_down
        padding-top: 10rem
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 5rem
        .first
            display: flex
            flex-direction: column
            .title1
                padding: 2rem 0
                line-height: 3rem
                color: #868e96
            
        img
            width: 7rem
            border-radius: 100%
    &__right
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 2rem
        
        img
            max-width: 100%