$primary-color:#333333
$secondary-color: #E57D22
li
    list-style: none
    margin: 2rem 0 0 3rem

.title1
    font-size: 2rem
    color: #777
    font-weight: 400
.title2
    font-size: 2rem
    color: $secondary-color
.title-big
    font-size: 5rem
    font-weight: bold
.text-back
    display: inline
    font-weight: bold
    padding: .5rem 1rem
    border-radius: 1rem
    background-color: #94D82D

.number
    color: #DDDDDD
    font-size: 8rem
    font-weight: 700
.app-title
    font-size: 3rem
.main-button
        color: white !important
        padding: 1rem 3rem
        background-color: $secondary-color
        border-radius: .8rem
        transition: 0.6s
        font-size: 2rem
        &:hover
            background-color: #cf711f
        &:active
            border: .7rem solid $secondary-color
.secondary-button
        display: inline-block
        
        color: $secondary-color
        font-size: 2rem
        transition: 0.6s
        border-bottom: .1rem solid $secondary-color
        &:hover
            border-bottom: none
            color: #cf711f
.makeToCenter
    text-align: center
        
.learn-more
        color: #777
        padding: 1rem 3rem
        font-weight: bold
        border-radius: .8rem
        transition: 0.6s
        font-size: 2rem
        &:active
            border: .7rem solid $secondary-color
