@import "_variables.sass"
@import "_header.sass"
@import "_application.sass"
@import "_meals.sass"
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-size: 62.5%
a
    text-decoration: none
body
    font-family: 'Rubik', sans-serif
    background-color: #FDF2E9

